@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: GoogleSans-Light;
  src: url("/fonts/GoogleSans-Light.ttf");
}

@font-face {
  font-family: GoogleSans-Regular;
  src: url("/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url("/fonts/GoogleSans-Medium.ttf");
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url("/fonts/GoogleSans-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
  background-color: #ffffff;
  font-family: GoogleSans-Regular, sans-serif;
  color: #000000;
}
