@import "antd/dist/antd.css";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: GoogleSans-Light;
  src: url("/fonts/GoogleSans-Light.ttf");
}

@font-face {
  font-family: GoogleSans-Regular;
  src: url("/fonts/GoogleSans-Regular.ttf");
}

@font-face {
  font-family: GoogleSans-Medium;
  src: url("/fonts/GoogleSans-Medium.ttf");
}

@font-face {
  font-family: GoogleSans-Bold;
  src: url("/fonts/GoogleSans-Bold.ttf");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: GoogleSans-Regular, sans-serif;
  color: #333333;
  font-size: 16px;
}
a,
a:hover {
  color: #333333;
}

.ant-message-custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainbanner {
  .swiper-btn-next,
  .swiper-btn-prev {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 2;
  }
  .swiper-button-disabled {
    opacity: 0.2;
  }
  .swiper-btn-next {
    right: 0;
  }
  .swiper-btn-prev {
    left: 0;
  }
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: rgb(239 68 68);
  }
  .swiper-pagination-bullet {
    margin: 0 6px !important;
    width: 15px !important;
    height: 15px !important;
  }
  @media screen and (min-width: 768px) {
    .swiper-btn-next {
      right: -60px;
    }
    .swiper-btn-prev {
      left: -60px;
    }
  }
  .contentbanner {
    transition: 1s;
    opacity: 0;
  }
  .swiper-slide-active {
    .contentbanner {
      opacity: 1;
    }
  }
}

/* bt-moving-left-right */
@keyframes moving-left-right-one {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  40% {
    -webkit-transform: translateX(50px) translateY(-200px);
    transform: translateX(50px) translateY(-200px);
  }

  75% {
    -webkit-transform: translateX(800px);
    transform: translateX(800px);
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}

@keyframes moving-left-right-two {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  40% {
    -webkit-transform: translateX(-50px) translateY(200px);
    transform: translateX(-50px) translateY(200px);
  }

  75% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}

@keyframes moving-left-right-three {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  40% {
    -webkit-transform: translateX(100px) translateY(-200px);
    transform: translateX(100px) translateY(-200px);
  }

  75% {
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  100% {
    -webkit-transform: translateY(0) translateX(0);
    transform: translateY(0) translateX(0);
  }
}

.animation-moving-left-right-one {
  -webkit-animation: moving-left-right-one infinite 60s;
  animation: moving-left-right-one infinite 60s;
}

.animation-moving-left-right-two {
  -webkit-animation: moving-left-right-two infinite 40s;
  animation: moving-left-right-two infinite 40s;
}

.animation-moving-left-right-three {
  -webkit-animation: moving-left-right-three 25s infinite;
  animation: moving-left-right-three 25s infinite;
}

.service1 {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    width: 100%;
    height: 350px;
    background-color: rgba(56, 249, 215, 0.3);
    z-index: 1;
    @media screen and (min-width: 768px) {
      top: -60px;
      width: 55vw;
      height: 105%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
  }
  .service1-content {
    z-index: 2;
  }
  .service1-image {
    z-index: 2;
  }
  .element.one {
    top: 0;
    left: 255px;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
    z-index: 0;
  }
}

.service2 {
  .swiper {
    .swiper-slide-shadow {
      background: none;
    }
    .swiper-slide-active {
      img {
        transform: translateY(-15px);
        @media screen and (min-width: 768px) {
          transform: translateY(-40px);
        }
      }
    }
  }
}

.service3 {
  .i-circle {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    top: -6px;
    left: 9px;
    background: rgb(239 68 68);
    @media screen and (min-width: 1024px) {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      top: -7px;
      left: 16px;
    }
  }

  .element.two {
    top: 0;
    right: 300px;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
  }
}

.service5 {
  .element.two {
    top: 0;
    right: 0;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
  }
}

.service-detail-experience-accordion {
  .ant-collapse {
    background: none;
    font-size: 16px;
    .ant-collapse-item {
      border-bottom: none;
      .ant-collapse-expand-icon .icofont-simple-down {
        position: absolute;
        right: 0;
        transition: 0.4s;
        transform: rotate(0);
      }
      &.ant-collapse-item-active {
        .ant-collapse-expand-icon .icofont-simple-down {
          transform: rotate(-180deg);
        }
      }
    }
  }
  .element.two {
    top: -100px;
    right: 300px;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
  }
}

.service-detail-project {
  .swiper-pagination {
    display: flex;
    gap: 8px;
    justify-content: center;
    .swiper-pagination-bullet {
      height: 5px;
      width: 18px;
      background-color: #9da9a7;
      display: block;
      cursor: pointer;
      border-radius: 1px;
      transition: 0.4s;
      &.swiper-pagination-bullet-active {
        width: 30px;
        background-color: #38f9d7;
      }
    }
  }
}

.about-us-info {
  .element.two {
    top: 0;
    right: 300px;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
  }
}

.about-us-service {
  .element.two {
    top: -50px;
    right: 400px;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
  }
}

.project-project {
  .ant-tabs {
    font-size: 1rem !important;
    .ant-tabs-nav {
      .ant-tabs-tab {
        margin-left: 10px;
        .ant-tabs-tab-btn {
          font-size: 1.2rem !important;
          color: #333333;
        }
      }
      .ant-tabs-tab-active {
        .ant-tabs-tab-btn {
          color: #ffffff;
        }
      }
      &::before {
        border: 0;
      }
    }
    .ant-tabs-ink-bar {
      height: 50%;
      z-index: -1;
      top: 50%;
      transform: translateY(-50%);
      padding: 5px 20px;
      border-radius: 20px;
      background-color: #193b3f;
    }
  }
}

.customer-intro {
  position: relative;
  z-index: 1;
  &::after {
    content: "";
    position: absolute;
    right: 0;
    top: -30px;
    width: 100%;
    height: 350px;
    background-color: rgba(56, 249, 215, 0.3);
    z-index: 1;
    @media screen and (min-width: 768px) {
      top: -60px;
      width: 60vw;
      height: 105%;
      border-top-left-radius: 50px;
      border-bottom-left-radius: 50px;
    }
  }
  .service1-content {
    z-index: 2;
  }
  .service1-image {
    z-index: 2;
  }
  .element.one {
    top: 0;
    right: 0;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
    z-index: 0;
  }
}

.contact-form {
  .element.two {
    top: -100px;
    right: 300px;
    width: 280px;
    height: 280px;
    background-color: #38f9d7;
    border-radius: 100%;
  }
}

.header {
  .overlaybg {
    position: fixed;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0;
    transition: 0.3s;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }

  .fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #ffffff;
  }

  .menu {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #000000;
    width: 300px;
    height: 100vh;
    transition: all 0.3s;
    transform: translateX(-100%);
    z-index: 30;
    color: rgba(255, 255, 255, 0.6);
    a {
      color: rgba(255, 255, 255, 0.6);
    }
    &.menu__mobile_show {
      transform: translateX(0);
    }
    .menu__item {
      border-top: 1px solid rgba(255, 255, 255, 0.2);
      font-weight: bold;
      position: relative;
      .menu__item__link {
        padding: 18px 25px;
        cursor: pointer;
        display: block;
        position: relative;
        white-space: nowrap;
        .menu__item__arrow {
          transition: all 0.4s;
          transform: rotate(0);
          position: absolute;
          right: 10px;
          top: 20px;
        }
      }

      .menu__sub {
        height: 0;
        overflow: hidden;
        transition: 0.3s;
        opacity: 0;
        font-size: 1rem;
        font-weight: normal;
        margin-left: 20px;
      }

      &.active {
        .menu__item__arrow {
          transform: rotate(-180deg);
        }
        .menu__sub {
          height: auto;
          opacity: 1;
          padding: 10px 0;
        }
      }
      &.active-link {
        .menu__item__link {
          color: #ffffff;
        }
      }
    }

    @media screen and (min-width: 1024px) {
      position: relative;
      left: auto;
      top: auto;
      width: auto;
      height: auto;
      display: flex;
      background: none;
      transform: translateX(0);
      z-index: 20;
      color: #333333;
      a {
        color: #333333;
      }
      .menu__item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: none;
        font-weight: normal;
        .menu__item__link {
          position: relative;
          padding: 5px 20px;
          &::after {
            transition: 0.2s;
            position: absolute;
            content: "";
            width: 0;
            height: 3px;
            background-color: #e40900;
            bottom: -3px;
            transform: translate(-50%, 100%);
            left: 50%;
          }
          .menu__item__arrow {
            right: -5px;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        .menu__sub {
          position: absolute;
          transform: rotateX(-90deg);
          transition: transform 0.3s, opacity 0.3s;
          min-width: 250px;
          opacity: 0;
          box-shadow: 0px 5px 10px -5px rgb(0 0 0 / 15%);
          left: -20px;
          top: 105%;
          transform-style: preserve-3d;
          // visibility: hidden;
          transform-origin: 0% 0%;
          height: auto;
          width: auto;
          background-color: #ffffff;
          border-radius: 10px;
          .menu__sub__link {
            position: relative;
            &::after {
              transition: 0.2s;
              position: absolute;
              content: "";
              width: 0;
              height: 3px;
              background-color: #e40900;
              bottom: -3px;
              transform: translate(-50%, 100%);
              left: 50%;
            }
            &.active-link, &:hover {
              &:after {
                width: 30px;
              }
            }
          }
          &.min-400 {
            min-width: 400px;
          }
        }
        &:hover {
          .menu__sub {
            transform: rotateX(0);
            opacity: 1;
            padding: 10px 0;
          }
          .menu__item__link:after {
            width: 30px;
          }
        }
        &.active-link {
          .menu__item__link {
            color: #333333;
          }
          .menu__item__link:after {
            width: 30px;
          }
        }
      }
      .menu__item:last-child {
        display: none;
      }
    }
  }

  .hambuger__menu {
    cursor: pointer;
    position: relative;
    z-index: 2;
    span {
      width: 30px;
      height: 4px;
      background-color: black;
      display: block;
      opacity: 1;
      transition: all 0.3s;
      margin: 8px 0;
      position: relative;
    }
    &.active {
      span:nth-child(1) {
        width: 30px;
        transform: rotate(45deg);
        transform-origin: -2px 5px;
      }
      span:nth-child(2) {
        opacity: 0;
      }
      span:nth-child(3) {
        width: 30px;
        transform: rotate(-45deg);
        transform-origin: 0px 0px;
      }
    }

    @media screen and (min-width: 1024px) {
      display: none;
    }
  }
}
